* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style-type: none;
	user-select: none;
}

* {
	/* --main-background-color: #dff6e1; */
	--main-background-color: #ebebeb;
	--title-color: #474545;
	--cell-background-color: white;
	--cell-text-color: #474545;
	/* --cell-text-color: black; */
	--score-background-button: #a7ff9f;
	--primary-text-color: #474545;
	--score-background-button-for-winner: #ff9f9f;
	--score-background-button-for-draw: pink;
}
@font-face {
	font-family: "TropicalAsianDEMO-Regular";
	src: url(./font/HelloTropical.ttf) format("woff2");
}
@font-face {
	font-family: "HelloTropical";
	src: url(./font/HelloTropical.ttf) format("woff2");
}
body {
	background-color: var(--main-background-color);
	color: var(--primary-text-color);
	font-family: "TropicalAsianDEMO-Regular";
	font-size: 2rem;
	text-transform: uppercase;
}
.players {
	/* border: 2px solid grey; */
/* --------------------------------------------- */

	display: flex;
	justify-content: space-between;
	width: 25rem;
	margin: auto;
	gap: 0.5rem;
	
}
.player-score {
	border-radius: 2rem;
	padding: 0.5rem 1.2rem;
}
.player-active {
	background-color: var(--score-background-button);
	box-shadow: 1px 0px 20px -10px rgba(0, 0, 0, 0.75);
}
.player-winner {
	background-color: var(--score-background-button-for-winner);
}
.player-draw {
	background-color: var(--score-background-button-for-draw);
}
h1 {
	text-align: center;
	padding: 1.8rem;
	color: var(--title-color);
	
}
.grid-container {
	/* border: 2px solid grey; */
/* ----------------------------------------------- */

	display: flex;
	justify-content: center;
	padding: 1rem;
}
.grid-cells {
	height: 6rem;
	width: 6rem;
	margin: 0.4rem;
	background-color: var(--cell-background-color);
	color: var(--cell-text-color);

	font-size: 5rem;

	


	box-shadow: 4px 3px 7px -3px rgba(0,0,0,0.57);
	-webkit-box-shadow: 4px 3px 9px -3px rgba(0,0,0,0.57);
	-moz-box-shadow: 4px 6px 12px -3px rgba(0,0,0,0.57);
	
	
	display: grid;
	place-items: center;	
	
	border-radius: 0.7rem;
	transition: transform 0.2s ease-in-out;

}
.grid-cells:hover {
	transform: scale(1.1);
}
.grid-row {
	display: flex;
}

button {
	border: none;
	font-family: inherit;
	
	font-size: 3.5rem;
	padding: 0.5rem 1rem;
	border-radius: 0.7rem;
	background-color: transparent;
	transition: transform 0.6s ease-in-out; 
}
.play-again:hover{
	transform: scale(1.3);
}
.play-again:active{
	transform: scale(1.2);
}
.play-again__container {
	/* border: 2px solid darkgrey; */
/* -------------------------------------------------- */
	display: flex;
	justify-content: center;
	padding: 0.5rem;
}